*~
server/target/*
client-one/target/*
client-two/target/*
server/lib/*
client-one/lib/*
client-two/lib/*
*.zip
*.jasper
.project
.directory
*.classpath
*.sublime-project
*.sublime-workspace
*.backup
*.class
*.xls
\#*\#
~$*.doc
~$*.docx
~$*.xls
~$*.xlsx